.efficiency-content {
  /* flex: 1; */
  /* transform-origin: 0% 0%; */
}
.efficiency-content__grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 24px;
  row-gap: 24px;
}
.row {
  /* width: 100%; */

  height: 300px;
  background-color: #39364f;
  border-radius: 10px;
}

.row.open {
  /* position: relative; */
}

.item1 {
  grid-column: 1 / span 2;
}
