.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  flex: 1;
  text-align: center;
  color: #4c5775;
  height: 72px;
  &:hover {
    background-color: white;
    // outline: 1px solid #4c5775;
  }
}
