.line-card {
  min-width: 324px;
  border-radius: 20px;
  position: relative;
  background-color: #f8fafc;
  &::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    vertical-align: top;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__details {
      h1 {
        user-select: none;
        font-weight: 500;
      }
    }
  }
}
