.machine-card {
  min-width: 324px;
  border-radius: 20px;
  position: relative;
  background-color: #f8fafc;
  &::before {
    content: "";
    display: inline-block;
    padding-bottom: 100%;
    vertical-align: top;
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__details {
      justify-content: space-between;
      display: flex;
      h1 {
        user-select: none;
        font-weight: 500;
      }
    }
    .button-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button:hover {
        outline: 1px solid #4c5775;
      }
    }
  }
}
