@import "./typography.scss";
@import "./icons.scss";
@import "./margins.scss";
@import "./buttons.scss";

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.scroll-container {
  &::-webkit-scrollbar {
    display: none;
  }
}

.grid {
  display: grid;
}
