@import "./typography.scss";
@import "./icons.scss";
@import "./margins.scss";
@import "./buttons.scss";

body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.scroll-container {
  &::-webkit-scrollbar {
    display: none;
  }
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.fl-1 {
  flex: 1;
}
